/* Estilos para la barra de navegación personalizada */
.navbar-custom {
    background-color: #1F3A5D;
}

/* Estilos para la cabecera de la tabla */
table.dataTable thead .table-header {
    background-color: #1F3A5D;
    color: #fff;
}

/* Agrega tus estilos personalizados aquí */

/* Por ejemplo, puedes agregar estilos para el encabezado y el contenido */
header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

h3 {
    color: #333;
    font-size: 24px;
}

/* Estilos para el formulario de filtro */
#filtro-form {
    margin-bottom: 20px;
}

.navbar-custom {
    background-color: #1F3A5D;
}

table.dataTable thead .table-header {
    background-color: #1F3A5D;
    color: #fff;
}

/* Estilos personalizados */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1F3A5D;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.numero-fila {
   font-weight: normal;
}
body {
    background-image: url('../img/Imgen3.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.table-with-bg {
    background-color: #fff; /* Color de fondo */

  }

  .dataTables_info {
    text-align: center;
    color: #000000;
    padding: 40px;
    margin-bottom: 50px;
}